<%= render "/header.*" %>

<div class="linear-gradient-r relative">
  <div class="container_">
    <div class="flex flex-col items-start justify-center gap-8 self-stretch py-8 lg:max-w-[720px]">
      <div class="z-10 flex flex-col items-start justify-start gap-5 self-stretch">
        <div class="flex items-center justify-center gap-2.5 border border-red-logo px-2 py-1">
          <div class="font-inter text-sm font-medium leading-tight text-red-logo">ON SITE</div>
        </div>
        <div class="flex flex-col items-start justify-start gap-5 self-stretch">
          <div class="flex flex-col items-start justify-start gap-3 self-stretch">
            <div class="pointer-events-auto text-md font-medium uppercase leading-normal text-grey-600 sm:text-xl sm:leading-loose">11–13.04.2025 Wrocław</div>
            <div class="pointer-events-auto self-stretch text-[40px] font-bold uppercase leading-[1.1] tracking-tighter text-grey-logo md:text-5xl md:leading-[1.125] md:tracking-tight">We want to <em>confront</em> ideas</div>
          </div>
          <div class="pointer-events-auto self-stretch font-inter text-md font-medium leading-normal text-grey-600">
            The place for Ruby professionals to confront ideas in a friendly atmosphere and mutual respect. Where covering deep topics is encouraged and meets a receptive audience. A relaxed, single&#8209;track and
            not&#8209;for&#8209;profit Ruby conference run by the local Ruby community.
          </div>
        </div>
      </div>
      <!-- <spline-viewer class="pointer-events-auto absolute right-0 top-0 -z-10" url="https://prod.spline.design/hFXBmUjHZDirWQM2/scene.splinecode"></spline-viewer> -->

      <a href="https://forms.gle/ovGZU4hNUdPVq7mPA" class="button_ pointer-events-auto z-10 mx-auto w-full text-center text-lg font-bold text-white">Call for papers</a>
      <!-- <div class="text-lg font-bold text-white">Buy tickets</div> -->
    </div>
  </div>
</div>

<div class="container_ pointer-events-auto">
  <div class="flex flex-col items-center justify-start gap-8 py-12">
    <div class="flex flex-col items-start justify-start gap-8 self-stretch">
      <div class="flex flex-col items-start justify-start gap-4">
        <div class="text-3xl font-bold leading-10 text-grey-logo sm:text-4xl">Conference topics</div>
      </div>
      <div class="flex flex-col items-start justify-start gap-5 lg:flex-row">
        <div class="self-stretch font-inter text-md font-medium leading-normal text-grey-600 md:w-1/2 lg:w-2/5">
          The place for Ruby professionals to confront ideas in a friendly atmosphere and mutual respect. Where covering deep topics is encouraged and meets a receptive audience. A relaxed, single-track and not-for-profit Ruby conference
          run by the local Ruby community.
        </div>
        <div class="flex flex-wrap items-start justify-start gap-4 md:gap-5 lg:w-3/5">
          <div class="flex shrink grow items-start justify-start border border-red-logo/30 bg-white/40 p-4 text-lg font-medium leading-normal text-grey-800 md:text-2xl">Performance</div>
          <div class="flex shrink grow items-start justify-start border border-red-logo/30 bg-white/40 p-4 text-lg font-medium leading-normal text-grey-800 md:text-2xl">Software Architecture</div>
          <div class="flex shrink grow items-start justify-start border border-red-logo/30 bg-white/40 p-4 text-lg font-medium leading-normal text-grey-800 md:text-2xl">Frontends</div>
          <div class="flex shrink grow items-start justify-start border border-red-logo/30 bg-white/40 p-4 text-lg font-medium leading-normal text-grey-800 md:text-2xl">Ruby</div>
          <div class="flex shrink grow items-start justify-start border border-red-logo/30 bg-white/40 p-4 text-lg font-medium leading-normal text-grey-800 md:text-2xl">Rails</div>
          <div class="flex shrink grow items-start justify-start border border-red-logo/30 bg-white/40 p-4 text-lg font-medium leading-normal text-grey-800 md:text-2xl">Debugging</div>
          <div class="flex shrink grow items-start justify-start border border-red-logo/30 bg-white/40 p-4 text-lg font-medium leading-normal text-grey-800 md:text-2xl">Testing</div>
          <div class="flex shrink grow items-start justify-start border border-red-logo/30 bg-white/40 p-4 text-lg font-medium leading-normal text-grey-800 md:text-2xl">Refactoring</div>
          <div class="flex shrink grow items-start justify-start border border-red-logo/30 bg-white/40 p-4 text-lg font-medium leading-normal text-grey-800 md:text-2xl">Event Modelling</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
    <div class="linear-gradient-r flex items-center justify-center gap-8 py-12 pointer-events-auto">
      <div class="container_">
        <div class="flex flex-col items-end justify-start gap-4 md:flex-row">
          <div class="flex flex-col items-start justify-start gap-3 md:w-1/2">
            <div class="self-stretch text-3xl font-bold leading-10 text-grey-logo">Join as a speaker</div>
            <div class="self-stretch font-inter text-md font-medium leading-normal text-grey-600">
              You might not realize it, but your day-to-day work with Ruby could be groundbreaking to others. Submit your talk proposal for wroc_love.rb and share those unique experiences - what seems ordinary to you could be extraordinary
              inspiration for fellow developers.
            </div>
          </div>
          <div class="button_ w-full md:w-1/2">
            <div class="text-lg font-bold leading-loose text-white">Join us</div>
          </div>
        </div>
      </div>
    </div> -->

<div class="container_ pointer-events-auto py-12">
  <div class="flex flex-col items-center justify-center gap-12 bg-white">
    <div class="self-stretch text-4xl font-bold leading-10 text-grey-logo">Joined us already</div>
    <div class="flex flex-wrap items-start justify-center gap-5">
      <div class="flex w-52 flex-col items-start justify-start gap-2">
        <img class="h-52 self-stretch" src="speakers/adam_dymitruk.jpg" />
        <div class="flex h-16 flex-col items-start justify-start self-stretch">
          <div class="self-stretch text-xl font-medium uppercase leading-loose text-grey-logo">Adam Dymitruk</div>
          <div class="flex items-start justify-start gap-2 self-stretch">
            <div class="flex h-6 w-6 items-center justify-center fill-grey-600">
              <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.39976 13L-0.000244141 11.6L9.59976 2H0.999756V0H12.9998V12H10.9998V3.4L1.39976 13Z" fill="#231F20" />
              </svg>
            </div>
            <div class="shrink grow basis-0 font-inter text-sm font-normal leading-tight text-grey-500">Event Modelling from Beginner to Expert</div>
          </div>
        </div>
      </div>
      <!-- <div class="flex items-center justify-start pt-8">
            <div class="flex w-52 flex-col items-start justify-start gap-2">
              <img class="h-52 self-stretch" src="https://placehold.co/210x210" />
              <div class="flex h-16 flex-col items-start justify-start self-stretch">
                <div class="self-stretch text-xl font-medium uppercase leading-loose text-grey-logo">Name Surname</div>
                <div class="flex items-start justify-start gap-2 self-stretch">
                  <div class="flex h-6 w-6 items-center justify-center fill-grey-600">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.39976 13L-0.000244141 11.6L9.59976 2H0.999756V0H12.9998V12H10.9998V3.4L1.39976 13Z" fill="#231F20" />
                    </svg>
                  </div>
                  <div class="shrink grow basis-0 font-inter text-sm font-normal leading-tight text-grey-500">Advanced Techniques in Ruby on Rails</div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex w-52 flex-col items-start justify-start gap-2">
            <img class="h-52 self-stretch" src="https://placehold.co/210x210" />
            <div class="flex h-16 flex-col items-start justify-start self-stretch">
              <div class="self-stretch text-xl font-medium uppercase leading-loose text-grey-logo">Name Surname</div>
              <div class="flex items-start justify-start gap-2 self-stretch">
                <div class="flex h-6 w-6 items-center justify-center fill-grey-600">
                  <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.39976 13L-0.000244141 11.6L9.59976 2H0.999756V0H12.9998V12H10.9998V3.4L1.39976 13Z" fill="#231F20" />
                  </svg>
                </div>
                <div class="shrink grow basis-0 font-inter text-sm font-normal leading-tight text-grey-500">Advanced Techniques in Ruby on Rails</div>
              </div>
            </div>
          </div>
          <div class="flex items-center justify-start pt-8">
            <div class="flex w-52 flex-col items-start justify-start gap-2">
              <img class="h-52 self-stretch" src="https://placehold.co/210x210" />
              <div class="flex h-16 flex-col items-start justify-start self-stretch">
                <div class="self-stretch text-xl font-medium uppercase leading-loose text-grey-logo">Name Surname</div>
                <div class="flex items-start justify-start gap-2 self-stretch">
                  <div class="flex h-6 w-6 items-center justify-center fill-grey-600">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.39976 13L-0.000244141 11.6L9.59976 2H0.999756V0H12.9998V12H10.9998V3.4L1.39976 13Z" fill="#231F20" />
                    </svg>
                  </div>
                  <div class="shrink grow basis-0 font-inter text-sm font-normal leading-tight text-grey-500">Advanced Techniques in Ruby on Rails</div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex w-52 flex-col items-start justify-start gap-2">
            <img class="h-52 self-stretch" src="https://placehold.co/210x210" />
            <div class="flex h-16 flex-col items-start justify-start self-stretch">
              <div class="self-stretch text-xl font-medium uppercase leading-loose text-grey-logo">Name Surname</div>
              <div class="flex items-start justify-start gap-2 self-stretch">
                <div class="flex h-6 w-6 items-center justify-center fill-grey-600">
                  <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.39976 13L-0.000244141 11.6L9.59976 2H0.999756V0H12.9998V12H10.9998V3.4L1.39976 13Z" fill="#231F20" />
                  </svg>
                </div>
                <div class="shrink grow basis-0 font-inter text-sm font-normal leading-tight text-grey-500">Advanced Techniques in Ruby on Rails</div>
              </div>
            </div>
          </div> -->
      <div class="flex w-52 flex-col items-start justify-start gap-2 pt-8">
        <div class="relative h-52 w-52 bg-grey-100"></div>
        <div class="flex h-14 flex-col items-start justify-start self-stretch">
          <div class="self-stretch text-xl font-medium uppercase leading-loose text-grey-logo">You</div>
          <div class="flex items-start justify-start gap-2 self-stretch">
            <div class="flex h-6 w-6 items-center justify-center fill-grey-600">
              <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.39976 13L-0.000244141 11.6L9.59976 2H0.999756V0H12.9998V12H10.9998V3.4L1.39976 13Z" fill="#231F20" />
              </svg>
            </div>
            <div class="shrink grow basis-0 font-inter text-sm font-normal leading-tight text-grey-500">Your fabuluous talk</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="linear-gradient-r flex items-center justify-center gap-8 py-12">
      <div class="container_">
        <div class="flex flex-col items-end justify-start gap-4 md:flex-row">
          <div class="flex flex-col items-start justify-center gap-3 md:w-1/2">
            <div class="text-3xl font-bold leading-10 text-black">Buy early bird ticket</div>
            <div class="font-inter text-md font-medium leading-normal text-grey-600">
              Purchasing an early bird ticket for the conference offers significant savings, priority access to exclusive sessions, and ensures your spot at this highly anticipated event.
            </div>
          </div>
          <div class="button_ w-full md:w-1/2">
            <div class="text-lg font-bold leading-loose text-white">Buy tickets</div>
          </div>
        </div>
      </div>
    </div> -->

<div class="container_ pointer-events-auto py-12">
  <div class="flex flex-col items-center justify-start gap-8">
    <div class="self-stretch text-4xl font-bold leading-10 text-grey-logo">Last year memories</div>
    <div class="flex flex-col items-start justify-start gap-16 self-stretch">
      <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-5 self-stretch md:flex-row md:gap-5">
        <div class="flex min-h-[400px] flex-col items-start justify-start gap-2 sm:min-h-[280px] md:min-h-[400px] md:w-1/3">
          <div class="flex grow items-center justify-start gap-4 self-stretch border border-red-logo/30 bg-white/40 p-4">
            <div class="flex shrink grow basis-0 flex-col items-end justify-start gap-4 self-stretch">
              <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-4 self-stretch">
                <div class="flex flex-col items-start justify-start gap-2 self-stretch">
                  <div class="self-stretch text-2xl font-bold leading-normal text-grey-logo">How (and why) to run SQLite in production</div>
                  <div class="self-stretch font-inter text-md font-normal italic leading-normal text-red-logo">Stephen Margheim</div>
                </div>
                <div class="shrink grow basis-0 self-stretch font-inter text-sm font-normal leading-tight text-grey-600">
                  You've heard the whispers, sensed the hype, but you're still not sure what all the fuss is about with SQLite these days? Learn why SQLite makes sense as your next production database and how to ensure that your setup is
                  optimized for end-user performance and developer happiness.
                </div>
              </div>
              <a href="https://www.youtube.com/watch?v=qwG5hjaZlN4" class="flex items-center justify-start gap-4 border border-black bg-white py-3 pl-6 pr-4">
                <div class="font-inter text-lg font-bold leading-loose text-black">See on youtube</div>
                <div class="flex h-6 w-6 items-center justify-center fill-grey-600">
                  <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.39976 13L-0.000244141 11.6L9.59976 2H0.999756V0H12.9998V12H10.9998V3.4L1.39976 13Z" fill="#231F20" />
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="mt-0 flex min-h-[400px] flex-col items-start justify-start gap-2 sm:min-h-[280px] md:mt-8 md:min-h-[400px] md:w-1/3">
          <div class="flex grow flex-col items-start justify-start gap-2 self-stretch">
            <div class="flex grow flex-col items-start justify-center gap-4 self-stretch border border-red-logo/30 bg-white/40 p-4">
              <div class="flex shrink grow basis-0 flex-col items-end justify-start gap-4 self-stretch">
                <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-4 self-stretch">
                  <div class="flex flex-col items-start justify-start gap-2 self-stretch">
                    <div class="self-stretch text-2xl font-bold leading-normal text-grey-logo">Debug like a scientist</div>
                    <div class="self-stretch font-inter text-md font-normal italic leading-normal text-red-logo">Maciej Rząsa</div>
                  </div>
                  <div class="shrink grow basis-0 self-stretch font-inter text-sm font-normal leading-tight text-grey-600">
                    Have you ever been haunted by a non-deterministic test, a nasty production issue or a malfunctioning CI infrastructure? Feeling a bit overwhelmed, chasing your own tail trying to solve it? Maciej said we can leverage
                    centuries-old practices used by scientists like Isaac Newton. Observation, hypothesis, experiment — rinse and repeat.
                  </div>
                </div>
                <a href="https://www.youtube.com/watch?v=iyuRIEJ4r_w" class="flex items-center justify-start gap-4 border border-black bg-white py-3 pl-6 pr-4">
                  <div class="font-inter text-lg font-bold leading-loose text-black">See on youtube</div>
                  <div class="flex h-6 w-6 items-center justify-center fill-grey-600">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.39976 13L-0.000244141 11.6L9.59976 2H0.999756V0H12.9998V12H10.9998V3.4L1.39976 13Z" fill="#231F20" />
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="flex min-h-[400px] flex-col items-start justify-start gap-2 sm:min-h-[280px] md:min-h-[400px] md:w-1/3">
          <div class="flex shrink grow basis-0 flex-col items-start justify-center gap-4 self-stretch border border-red-logo/30 bg-white/40 p-4">
            <div class="flex shrink grow basis-0 flex-col items-end justify-start gap-4 self-stretch">
              <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-4 self-stretch">
                <div class="flex flex-col items-start justify-start gap-2 self-stretch">
                  <div class="self-stretch text-2xl font-bold leading-normal text-grey-logo">How I brought LCP down to under 350ms for Google-referred users on my website</div>
                  <div class="self-stretch font-inter text-md font-normal italic leading-normal text-red-logo">Paweł Pokrywka</div>
                </div>
                <div class="shrink grow basis-0 self-stretch font-inter text-sm font-normal leading-tight text-grey-600">
                  Paweł shared how he optimized content delivery and brought Largest Contentful Paint down to under 350 ms for Google-referred users on his website. The speed of your website is considered good if the value of the Largest
                  Contentful Paint (LCP) metric is below 2500 ms. If most of your website traffic comes from Google search, that is quite an important thing to improve to be ranked higher.
                </div>
              </div>
              <a href="https://www.youtube.com/watch?v=RaJEXf3fBlA" class="flex items-center justify-start gap-4 border border-black bg-white py-3 pl-6 pr-4">
                <div class="font-inter text-lg font-bold leading-loose text-black">See on youtube</div>
                <div class="flex h-6 w-6 items-center justify-center fill-grey-600">
                  <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.39976 13L-0.000244141 11.6L9.59976 2H0.999756V0H12.9998V12H10.9998V3.4L1.39976 13Z" fill="#231F20" />
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="linear-gradient-l flex items-end justify-between py-12 pointer-events-auto">
      <div class="container_">
        <div class="flex shrink grow flex-col items-center justify-between gap-8 md:flex-row">
          <div class="flex w-full flex-col items-start justify-start gap-3 md:w-3/5">
            <div class="self-stretch text-3xl font-bold leading-10 text-grey-logo">Join our mailing list</div>
            <div class="self-stretch font-inter text-md font-medium leading-normal text-grey-600">Sign up for our newsletter and read in our mind!</div>
          </div>
          <div class="flex w-full flex-col items-start justify-center gap-4 md:w-2/5">
            <div class="flex flex-col items-center justify-start gap-4 self-stretch sm:flex-row">
              <div class="flex h-14 w-full grow items-center justify-start gap-4 border border-grey-600 bg-white">
                <div class="px-6 text-lg font-bold leading-loose text-grey-400">kowalski@gmail.com</div>
              </div>
              <div class="shrink grow self-stretch sm:hidden">
                <span class="font-inter text-xs font-medium leading-none text-grey-500">By clicking Sign Up you're confirming that you agree with our <span class="underline">Terms and Conditions</span>.</span>
              </div>
              <div class="flex h-14 w-full shrink items-center justify-center gap-4 border border-black px-6 sm:w-auto md:w-full">
                <div class="text-nowrap font-inter text-lg font-bold leading-loose text-black">Sign in</div>
              </div>
            </div>
            <div class="self-stretc hidden shrink grow sm:flex">
              <span class="font-inter text-xs font-medium leading-none text-grey-500">By clicking Sign Up you're confirming that you agree with our <span class="underline">Terms and Conditions</span>.</span>
            </div>
          </div>
        </div>
      </div>
    </div> -->

<div class="container_ pointer-events-auto">
  <div class="flex flex-col items-start justify-start gap-8 bg-white py-10">
    <div class="flex flex-col items-start justify-start md:flex-row md:items-center md:gap-12">
      <div class="text-4xl font-bold leading-normal text-grey-800">Supporting the mission</div>
      <!-- <div class="hidden font-inter text-3xl font-bold text-grey-400 md:flex">|</div>
          <div class="mt-4 text-2xl font-medium leading-snug text-grey-800 md:mt-0">Do you want to be on the list? Click here to support us!</div> -->
    </div>
    <div class="flex flex-wrap items-center justify-center gap-16 self-stretch px-10 py-6">
      <a href="https://arkency.com">
        <img class="h-9" src="supporters/arkency.svg" />
      </a>
      <a href="https://ii.uni.wroc.pl">
        <img class="h-12" src="partners/uwr.svg" />
      </a>
      <a href="https://pragprog.com">
        <img class="h-9" src="partners/pragmatic_bookshelf.png" />
      </a>
      <a href="https://rubycommunityconference.com">
        <img class="h-9" src="partners/rwcc.png" />
      </a>
      <a href="https://www.railschangelog.com">
        <img class="h-12" src="partners/rails_changelog.png" />
      </a>
    </div>
  </div>
</div>

<%= render "/footer.*" %>
