<%= render "/header.*" %>

<div class="linear-gradient-r relative">
  <div class="container_ py-20">
    <div class="flex flex-col items-start justify-center gap-8 self-stretch py-8 lg:max-w-[720px]">
      <div class="z-10 flex flex-col items-start justify-start gap-5 self-stretch">
        <div class="flex flex-col items-start justify-start gap-5 self-stretch">
          <div class="flex flex-col items-start justify-start gap-3 self-stretch">
            <div class="pointer-events-auto self-stretch text-[40px] font-bold uppercase leading-[1.1] tracking-tighter text-grey-logo md:text-5xl md:leading-[1.125] md:tracking-tight">FOR PARTICIPANTS</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container_">
  <div class="self-stretch py-20 flex flex-col justify-start items-center gap-10">
    <div class="w-full flex justify-center items-center gap-2">
      <div class="flex-1 justify-start text-colors-shades-shade-900 text-5xl font-bold font-['overpass'] leading-[48px]">Main venue</div>
    </div>
    <div class="w-full flex-row md:flex justify-start items-start gap-4">
      <div class="flex-1 flex flex-col justify-start items-start gap-3 md:w-1/2">
        <div class="self-stretch justify-start text-colors-shades-shade-900 text-2xl font-medium font-['inter'] leading-10">University of Wrocław, Institute of Computer Science</div>
        <div class="self-stretch justify-start text-colors-shades-shade-900 text-lg font-medium font-['inter'] leading-loose">Fryderyka Joliot-Curie 15, Wrocław</div>
      </div>
      <%= link_to "Open in Google Maps", "https://maps.app.goo.gl/maugtfNpJW5amSq96", class: "button_ text-white md:mt-0 mt-4  md:w-1/2" %>
    </div>
    <div class="w-full flex flex-col justify-start items-start gap-2">
      <iframe width="100%" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4142.609040800146!2d17.052347015324205!3d51.11179040352469!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe82b2976c511%3a0x36e92b9161fb469a!2sinstytut%20informatyki%20uniwersytetu%20wroc%c5%82awskiego!5e0!3m2!1spl!2sus!4v1744322864422!5m2!1spl!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>


<!--<div class="container_">
  <div class="self-stretch py-20 flex flex-col justify-start items-center gap-10">
    <div class="w-full flex justify-center items-center gap-2">
      <div class="flex-1 justify-start text-colors-shades-shade-900 text-5xl font-bold font-['overpass'] leading-[48px]">Party venue</div>
    </div>
    <div class="w-full flex-row md:flex justify-start items-start gap-4">
      <div class="flex-1 flex flex-col justify-start items-start gap-3 md:w-1/2">
        <div class="self-stretch justify-start text-colors-shades-shade-900 text-2xl font-medium font-['inter'] leading-10">Klubokawiarnia Mleczarnia</div>
        <div class="self-stretch justify-start text-colors-shades-shade-900 text-lg font-medium font-['inter'] leading-loose">Pawła Włodkowica 5, Wrocław</div>
      </div>
      <%= link_to "Open in Google Maps", "https://maps.app.goo.gl/CEt3AwsyazPW9mRs7", class: "button_ text-white md:mt-0 mt-4  md:w-1/2" %>
    </div>
    <div class="w-full flex flex-col justify-start items-start gap-2">
      <iframe width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5010.216353402809!2d17.025244000000008!3d51.10810899999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc20b5086cfe9%3A0xfe6c060f9794ad94!2sKlubokawiarnia%20Mleczarnia!5e0!3m2!1spl!2spl!4v1744323725147!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>-->


<%= render "/footer.*" %>
