
<%= render "/header.*" %>

<div class="linear-gradient-r relative">
  <div class="container_ py-20">
    <div class="flex flex-col items-start justify-center gap-8 self-stretch py-8 lg:max-w-[720px]">
      <div class="z-10 flex flex-col items-start justify-start gap-5 self-stretch">
        <div class="flex flex-col items-start justify-start gap-5 self-stretch">
          <div class="flex flex-col items-start justify-start gap-3 self-stretch">
            <div class="pointer-events-auto self-stretch text-[40px] font-bold uppercase leading-[1.1] tracking-tighter text-grey-logo md:text-5xl md:leading-[1.125] md:tracking-tight">BECOME SPEAKER</div>
          </div>
          <div class="pointer-events-auto self-stretch font-inter text-md font-medium leading-normal text-grey-600">
            Are you passionate about Ruby and have insights to share?
            <br/><br/>

            Step up to the wroclove.rb stage and inspire your fellow developers with your unique experiences and knowledge. 
            <br/><br/>

            Your production experience matters, and we want to hear about the challenges you've overcome and the solutions you've crafted.
            While some conferences aim to invite big names, our lineup consists almost exclusively of CFP submissions.
            This is your opportunity to influence the minds of fellow developers with your personal experience, lessons learned the hard way, and worthy ideas.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="inline-flex h-52 w-full items-center justify-between bg-black sm:h-32">
  <div class="container_">
    <div class="flex h-10 flex-col items-center justify-between sm:flex-row gap-8">
      <div class="font-inter text-2xl font-medium leading-10 text-white">Join wroclove.rb as a speaker</div>
      <div class="flex items-center justify-start gap-3 sm:inline-flex sm:gap-4">
        <div class="pointer-events-auto font-inter text-2xl font-light italic leading-7 text-white sm:leading-10 md:text-3xl">
          <a href="https://www.papercall.io/wrocloverb2026">Submit your talk</a>
        </div>
        <div class="relative h-6 w-6 sm:h-8 sm:w-8">
          <div class="h-6 w-6 sm:h-8 sm:w-8">
            <img src="/icons/arrow_outward.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container_">
  <div class="inline-flex flex-col items-center justify-start gap-8 py-20">
    <div class="flex flex-col items-start justify-start gap-8 self-stretch">
      <div class="flex flex-col items-start justify-start gap-4">
        <div class="font-overpass text-4xl font-bold leading-10 text-grey-logo">What we offer</div>
      </div>
      <div class="flex flex-col items-start justify-start gap-16 self-stretch">
        <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-5 self-stretch md:flex-row md:gap-5">
          <div class="flex min-h-[220px] flex-col items-start justify-start gap-2 sm:min-h-[160px] md:min-h-[220px] md:w-1/3">
            <div class="flex grow items-center justify-start gap-4 self-stretch border border-red-logo/30 bg-white/40 p-4">
              <div class="flex shrink grow basis-0 flex-col items-end justify-start gap-4 self-stretch">
                <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-4 self-stretch">
                  <div class="flex flex-col items-start justify-start gap-2 self-stretch">
                    <div class="self-stretch text-2xl font-bold leading-normal text-grey-logo">Personal growth</div>
                  </div>
                  <div class="shrink grow basis-0 self-stretch font-inter text-sm font-normal leading-tight text-grey-600">
                    As a speaker at wroclove.rb, you'll position yourself as an expert in the Ruby community.
                    Your insights and experiences will be valued by peers, boosting your professional profile
                    and opening doors to new opportunities.
                    <br/><br/>

                    Speaking at wroclove.rb is a chance to refine your ability to communicate complex technical concepts
                    clearly and engagingly. This experience will build your confidence not just in public speaking,
                    but in expressing your ideas effectively in any professional setting.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-0 flex min-h-[220px] flex-col items-start justify-start gap-2 sm:min-h-[160px] md:mt-8 md:min-h-[220px] md:w-1/3">
            <div class="flex grow flex-col items-start justify-start gap-2 self-stretch">
              <div class="flex grow flex-col items-start justify-center gap-4 self-stretch border border-red-logo/30 bg-white/40 p-4">
                <div class="flex shrink grow basis-0 flex-col items-end justify-start gap-4 self-stretch">
                  <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-4 self-stretch">
                    <div class="flex flex-col items-start justify-start gap-2 self-stretch">
                      <div class="self-stretch text-2xl font-bold leading-normal text-grey-logo">Networking opportunities</div>
                    </div>
                    <div class="shrink grow basis-0 self-stretch font-inter text-sm font-normal leading-tight text-grey-600">
                      You'll have unparalleled access to other Ruby professionals, both on and off stage.
                      These connections can lead to exciting collaborations or even lifelong friendships
                      with like-minded developers who share your passion for Ruby.
                      <br/><br/>

                      All speakers are invited to a special dinner featuring Polish cuisine on the evening
                      before the conference. It's a relaxed chance to get to know each other early,
                      making it even easier to dive into the conference together the next day.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex min-h-[220px] flex-col items-start justify-start gap-2 sm:min-h-[160px] md:min-h-[220px] md:w-1/3">
            <div class="flex shrink grow basis-0 flex-col items-start justify-center gap-4 self-stretch border border-red-logo/30 bg-white/40 p-4">
              <div class="flex shrink grow basis-0 flex-col items-end justify-start gap-4 self-stretch">
                <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-4 self-stretch">
                  <div class="flex flex-col items-start justify-start gap-2 self-stretch">
                    <div class="self-stretch text-2xl font-bold leading-normal text-grey-logo">Speaker benefits</div>
                  </div>
                  <div class="shrink grow basis-0 self-stretch font-inter text-sm font-normal leading-tight text-grey-600">
                    🎟️ Free admission to wroclove.rb and selected workshop
                    <br/><br/>
                    🏨 Hotel accommodation from April 16th until 19th covered
                    <br/><br/>
                    🍽️ Speaker dinner on April 16th
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="linear-gradient-r pointer-events-auto">
  <div class="container_">
    <div class="flex flex-col items-start justify-start gap-8 py-12 self-stretch">
      <div class="flex flex-col items-start justify-start gap-4">
        <div class="font-overpass text-4xl font-bold leading-10 text-grey-logo">
          Timeline
        </div>
      </div>

      <div class="relative w-full py-12">
        <!-- MOBILE: vertical line -->
        <div class="absolute left-12 top-0 bottom-0 w-0.5 bg-red-logo/30 md:hidden"></div>

        <!-- DESKTOP: horizontal line -->
        <div class="hidden md:block absolute left-0 top-12 h-0.5 w-full bg-red-logo/30"></div>

        <!-- Timeline events -->
        <div class="relative flex flex-col gap-12 md:flex-row md:items-start md:justify-between">
          <!-- Event 1 -->
          <div class="relative flex flex-col items-start gap-3 pl-10 md:pl-0 md:w-1/3 md:items-center">
            <!-- MOBILE dot -->
            <div class="absolute left-9 top-1 h-6 w-6 rounded-full border-2 border-red-logo/30 bg-white md:hidden"></div>
            <!-- DESKTOP dot -->
            <div class="hidden md:block absolute -top-6 z-10 h-12 w-12 rounded-full border-2 border-red-logo/30 bg-white"></div>

            <div class="mt-0 md:mt-12 ml-9 md:ml-0 flex flex-col items-start md:items-center gap-2">
              <div class="font-inter text-lg font-bold leading-normal text-grey-logo">
                13.10.2025
              </div>
              <div class="font-inter text-sm text-left md:text-center font-normal leading-tight text-grey-600">
                CFP opens
              </div>
            </div>
          </div>

          <!-- Event 2 -->
          <div class="relative flex flex-col items-start gap-3 pl-10 md:pl-0 md:w-1/3 md:items-center">
            <!-- MOBILE dot -->
            <div class="absolute left-9 top-1 h-6 w-6 rounded-full border-2 border-red-logo/30 bg-white md:hidden"></div>
            <!-- DESKTOP dot (centered in its column) -->
            <div
              class="hidden md:block absolute -top-6 left-1/2 z-10 h-12 w-12 -translate-x-1/2 rounded-full border-2 border-red-logo/30 bg-white">
            </div>

            <div class="mt-0 md:mt-12 ml-9 md:ml-0 flex flex-col items-start md:items-center gap-2">
              <div class="font-inter text-lg font-bold leading-normal text-grey-logo">
                13.01.2026
              </div>
              <div class="font-inter text-sm text-left md:text-center font-normal leading-tight text-grey-600">
                CFP closes
              </div>
              <div class="font-inter text-xs text-left md:text-center font-normal leading-tight text-grey-600 w-[75%]">
                if you need to know about your approval sooner because of visa reasons for example, let us know
              </div>
            </div>
          </div>

          <!-- Event 3 -->
          <div class="relative flex flex-col items-start gap-3 pl-10 md:pl-0 md:w-1/3 md:items-center">
            <!-- MOBILE dot -->
            <div class="absolute left-9 top-1 h-6 w-6 rounded-full border-2 border-red-logo/30 bg-white md:hidden"></div>
            <!-- DESKTOP dot -->
            <div class="hidden md:block absolute -top-6 z-10 h-12 w-12 rounded-full border-2 border-red-logo/30 bg-white"></div>

            <div class="mt-0 md:mt-12 ml-9 md:ml-0 flex flex-col items-start md:items-center gap-2">
              <div class="font-inter text-lg font-bold leading-normal text-grey-logo">
                31.01.2026
              </div>
              <div class="font-inter text-sm text-left md:text-center font-normal leading-tight text-grey-600">
                CFP review ends
              </div>
              <div class="font-inter text-xs text-left md:text-center font-normal leading-tight text-grey-600 w-[75%]">
                by this date you'll know whether your talk was selected or not
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container_">
  <div class="inline-flex flex-col items-center justify-start gap-8 py-20">
    <div class="flex flex-col items-start justify-start gap-8 self-stretch">
      <div class="flex flex-col items-start justify-start gap-4">
        <div class="font-overpass text-4xl font-bold leading-10 text-grey-logo">Tips</div>
      </div>
      <div class="flex flex-col items-start justify-start gap-16 self-stretch">
        <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-5 self-stretch md:flex-row md:gap-5">
          <div class="flex min-h-[220px] flex-col items-start justify-start gap-2 sm:min-h-[160px] md:min-h-[220px] md:w-1/3">
            <div class="flex grow items-center justify-start gap-4 self-stretch border border-red-logo/30 bg-white/40 p-4">
              <div class="flex shrink grow basis-0 flex-col items-end justify-start gap-4 self-stretch">
                <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-4 self-stretch">
                  <div class="self-stretch text-3xl font-bold leading-normal text-grey-logo">01</div>
                  <div class="self-stretch text-2xl font-bold leading-normal text-grey-logo">How to write my bio?</div>
                  <div class="shrink grow basis-0 self-stretch font-inter text-sm font-normal leading-tight text-grey-600">
                    Tell us a bit about yourself - what excites you professionally and what
                    you're currently working on. What drives you in the Ruby community,
                    and what accomplishments or interests in software engineering make you proud?
                    <br/><br/>

                    Feel free to share a glimpse of your life outside of code, too.
                    Anything that helps us get to know you better is welcome.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-0 flex min-h-[220px] flex-col items-start justify-start gap-2 sm:min-h-[160px] md:mt-8 md:min-h-[220px] md:w-1/3">
            <div class="flex grow flex-col items-start justify-start gap-2 self-stretch">
              <div class="flex grow flex-col items-start justify-center gap-4 self-stretch border border-red-logo/30 bg-white/40 p-4">
                <div class="flex shrink grow basis-0 flex-col items-end justify-start gap-4 self-stretch">
                  <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-4 self-stretch">
                    <div class="self-stretch text-3xl font-bold leading-normal text-grey-logo">02</div>
                    <div class="self-stretch text-2xl font-bold leading-normal text-grey-logo">Elevator pitch</div>
                    <div class="shrink grow basis-0 self-stretch font-inter text-sm font-normal leading-tight text-grey-600">
                      Capture the essence of your talk in just a few concise sentences - what it's about,
                      why it matters, and what the audience will gain from it. Highlight the key takeaways, 
                      whether it's an exciting new tool or a smart way to tackle a tricky problem.
                      <br/><br/>

                      Your goal is simple: make us genuinely excited to attend!
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex min-h-[220px] flex-col items-start justify-start gap-2 sm:min-h-[160px] md:min-h-[220px] md:w-1/3">
            <div class="flex shrink grow basis-0 flex-col items-start justify-center gap-4 self-stretch border border-red-logo/30 bg-white/40 p-4">
              <div class="flex shrink grow basis-0 flex-col items-end justify-start gap-4 self-stretch">
                <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-4 self-stretch">
                  <div class="self-stretch text-3xl font-bold leading-normal text-grey-logo">03</div>
                  <div class="self-stretch text-2xl font-bold leading-normal text-grey-logo">Good or bad title?</div>
                  <div class="shrink grow basis-0 self-stretch font-inter text-sm font-normal leading-tight text-grey-600">
                    Naming the talk is hard — aim for something short, clear, and catchy that immediately tells people
                    why your session is interesting. For example: 'Fix production bugs 20x faster!'.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "/footer.*" %>
