<%= render "/header.*" %>

<div class="linear-gradient-r relative">
  <div class="container_ py-20">
    <div class="flex flex-col items-start justify-center gap-8 self-stretch py-8 lg:max-w-[720px]">
      <div class="z-10 flex flex-col items-start justify-start gap-5 self-stretch">
        <div class="flex flex-col items-start justify-start gap-5 self-stretch">
          <div class="flex flex-col items-start justify-start gap-3 self-stretch">
            <div class="pointer-events-auto self-stretch text-[40px] font-bold uppercase leading-[1.1] tracking-tighter text-grey-logo md:text-5xl md:leading-[1.125] md:tracking-tight">BECOME supporter</div>
          </div>
          <div class="pointer-events-auto self-stretch font-inter text-md font-medium leading-normal text-grey-600">
            Help nurture the Ruby community by becoming a wroclove.rb supporter. Your contribution enables us to create a space for knowledge sharing and innovation, fostering the growth of Ruby professionals and the technology we all
            love.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="inline-flex h-52 w-full items-center justify-between bg-black sm:h-32">
  <div class="container_">
    <div class="flex h-10 flex-col items-center justify-between sm:flex-row">
      <div class="font-inter text-2xl font-medium leading-10 text-white">Join wroclove.rb as a supporter</div>
      <div class="flex items-center justify-start gap-3 sm:inline-flex sm:gap-4">
        <div class="pointer-events-auto font-inter text-2xl font-light italic leading-7 text-white sm:leading-10 md:text-3xl">
          <a href="https://www.tickettailor.com/events/wrocloverb/1903580">Get your package</a>
        </div>
        <div class="relative h-6 w-6 sm:h-8 sm:w-8">
          <div class="h-6 w-6 sm:h-8 sm:w-8">
            <img src="/icons/arrow_outward.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container_">
  <div class="inline-flex flex-col items-center justify-start gap-8 py-20">
    <div class="flex flex-col items-start justify-start gap-8 self-stretch">
      <div class="flex flex-col items-start justify-start gap-4">
        <div class="font-overpass text-4xl font-bold leading-10 text-grey-logo">What we offer</div>
      </div>
      <div class="flex flex-col items-start justify-start gap-16 self-stretch">
        <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-5 self-stretch md:flex-row md:gap-5">
          <div class="flex min-h-[220px] flex-col items-start justify-start gap-2 sm:min-h-[160px] md:min-h-[220px] md:w-1/3">
            <div class="flex grow items-center justify-start gap-4 self-stretch border border-red-logo/30 bg-white/40 p-4">
              <div class="flex shrink grow basis-0 flex-col items-end justify-start gap-4 self-stretch">
                <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-4 self-stretch">
                  <div class="flex flex-col items-start justify-start gap-2 self-stretch">
                    <div class="self-stretch text-2xl font-bold leading-normal text-grey-logo">Company visibility</div>
                  </div>
                  <div class="shrink grow basis-0 self-stretch font-inter text-sm font-normal leading-tight text-grey-600">
                    We will publish information about you being a supporter on our social media. Your company will be visible on post-conference videos, in the conference room between the talks and on our website in the supporters section,
                    alongside with a link. We periodically send out a newsletter to our subscribers — we’ll include your company logo there as well!
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-0 flex min-h-[220px] flex-col items-start justify-start gap-2 sm:min-h-[160px] md:mt-8 md:min-h-[220px] md:w-1/3">
            <div class="flex grow flex-col items-start justify-start gap-2 self-stretch">
              <div class="flex grow flex-col items-start justify-center gap-4 self-stretch border border-red-logo/30 bg-white/40 p-4">
                <div class="flex shrink grow basis-0 flex-col items-end justify-start gap-4 self-stretch">
                  <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-4 self-stretch">
                    <div class="flex flex-col items-start justify-start gap-2 self-stretch">
                      <div class="self-stretch text-2xl font-bold leading-normal text-grey-logo">Communication channel with participants</div>
                    </div>
                    <div class="shrink grow basis-0 self-stretch font-inter text-sm font-normal leading-tight text-grey-600">
                      You will have access to our Discord server, where participants can engage with your company representatives. Note that being present on Discord is not mandatory so likely not all participants will be there,
                      although we will encourage it.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex min-h-[220px] flex-col items-start justify-start gap-2 sm:min-h-[160px] md:min-h-[220px] md:w-1/3">
            <div class="flex shrink grow basis-0 flex-col items-start justify-center gap-4 self-stretch border border-red-logo/30 bg-white/40 p-4">
              <div class="flex shrink grow basis-0 flex-col items-end justify-start gap-4 self-stretch">
                <div class="flex shrink grow basis-0 flex-col items-start justify-start gap-4 self-stretch">
                  <div class="flex flex-col items-start justify-start gap-2 self-stretch">
                    <div class="self-stretch text-2xl font-bold leading-normal text-grey-logo">Tickets</div>
                  </div>
                  <div class="shrink grow basis-0 self-stretch font-inter text-sm font-normal leading-tight text-grey-600">
                    Buying Supporter Ticket already grants permission to enter the conference for 1 person, with a distinctive badge, which may help with networking :) Additionally, if tickets run out we guarantee an option to buy three
                    additional tickets outside the regular ticket batches.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="linear-gradient-l flex items-center justify-center gap-8 py-12 pointer-events-auto">
  <div class="container_">
    <div class="flex flex-col items-end justify-start gap-4 md:flex-row">
      <div class="flex flex-col items-start justify-start gap-3 md:w-1/2">
        <div class="self-stretch text-3xl font-bold leading-10 text-grey-logo">Single package</div>
        <div class="self-stretch font-inter text-md font-medium leading-normal text-grey-600">
          At wroclove.rb, we've always kept things simple - focusing on great speakers, meaningful conversations,
          and bringing Ruby developers together. With that spirit in mind, we offer a single supporter package priced at <b>800 EUR (net)</b>.
        </br></br>
          If you're looking for a way to give back to the Ruby community and connect with ~150 passionate participants,
          supporting our conference is a fantastic opportunity.
        </div>
      </div>
      <div class="button_ w-full md:w-1/2">
        <%= link_to "Support us", "https://www.tickettailor.com/events/wrocloverb/1903580", class: "button_ z-10 mx-auto w-full text-center text-lg font-bold text-white cursor-pointer" %>
      </div>
    </div>
  </div>
</div>


<div class="container_ flex flex-col pointer-events-auto">
  <div class="inline-flex min-h-44 flex-col items-start justify-center gap-3 overflow-hidden bg-white py-20 sm:min-h-80 sm:items-center sm:justify-start sm:gap-8">
    <div class="inline-flex flex-col items-center justify-start gap-12 sm:flex-row">
      <div class="font-overpass text-3xl font-bold leading-10 text-[#151314]">Thank you to our supporters</div>
    </div>
    <%= render "/supporters.*" %>
  </div>
</div>

<%= render "/footer.*" %>
