<div class="flex flex-wrap items-center justify-center gap-16 self-stretch px-10 py-6">
  <a href="https://arkency.com">
    <img class="h-9" src="/supporters/arkency.svg" />
  </a>
  <a href="https://railsware.com/">
    <img class="h-12" src="/supporters/railsware.svg" />
  </a>
  <a href="https://ii.uni.wroc.pl">
    <img class="h-12" src="/partners/uwr.svg" />
  </a>
  <a href="https://pragprog.com">
    <img class="h-9" src="/partners/pragmatic_bookshelf.png" />
  </a>
  <a href="https://rubycommunityconference.com">
    <img class="h-9" src="/partners/rwcc.png" />
  </a>
  <a href="https://www.railschangelog.com">
    <img class="h-12" src="/partners/rails_changelog.png" />
  </a>
  <a href="https://balticruby.org/">
    <img class="h-12" src="/partners/baltic_ruby.svg" />
  </a>
</div>
