<div class="flex flex-wrap items-center justify-center pointer-events-auto gap-16 self-stretch px-10 py-6">
  <a href="https://arkency.com">
    <img class="h-9" src="/supporters/arkency.svg" />
  </a>
  <a href="https://www.2n.pl">
    <img class="h-12" src="/supporters/2n.svg" />
  </a>
  <a href="https://railsware.com/">
    <img class="h-12" src="/supporters/railsware.svg" />
  </a>
  <a href="https://typesense.org/">
    <img class="h-10" src="/supporters/typesense.svg" />
  </a>
  <a href="https://infakt.pl">
    <img class="h-10" src="/supporters/infakt.svg" />
  </a>
  <a href="https://themomentum.ai">
    <img class="h-6" src="/supporters/momentum.svg" />
  </a>
</div>
